@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
}

header{
    background-color: #FFF9F4 !important;
}

.mynav{
    background-color: #FFF9F4;
}

.imgback{
    background-color: #F1F1F1;
    padding: 5px;
    border-radius: 25px;
}

.rounded-3{
    border-radius: 25px !important;
}